name: Release

on:
  release:
    types: [created]

jobs:
  continuous-deployment-npm:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: pnpm Setup
        uses: pnpm/action-setup@v2.0.1
        with:
          version: 6.32.4
      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'
      - name: Install Dependencies
        run: pnpm install
      - name: Build
        run: pnpm run build
      - name: Setup Environment
        run: echo $TEST_ENV_FILE | base64 --decode > .env.test.local
        env:
          TEST_ENV_FILE: ${{ secrets.TEST_DOTENV }}
      - name: Run Unit Tests
        uses: paambaati/codeclimate-action@v3.0.0
        env:
          CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
        with:
          coverageCommand: pnpm run test:unit:ci
      # - name: Run Integration Tests
      #   run: pnpm run test:integration:ci
      - name: Publish
        run: pnpm publish --no-git-checks --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
